---
import Menu from '../components/Menu.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Front Page">
	<Menu/>
	<h1>her skal alt html indhold være</h1>
</Layout>

<style>

</style>