---
import Menu2 from '../components/Menu2.astro';
import Footer from '../components/Footer.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="Front Page">
    <Menu2/>
    <video autoplay muted loop playsinline class="background-video">
        <source src="https://gpibpwcilnnywtjvpwql.supabase.co/storage/v1/object/public/lovehitshardcovers/canvasloop1.mp4" type="video/mp4" />
    </video>
    <div class="face">
        <h1 class="title">LOVEHITSHARD</h1>
        <div class="h2-container">
        <a href="/songs" class="under1"><h2>LISTEN NOW</h2></a>
        <a href="/concert" class="under2"><h2>SEE LIVE</h2></a>
        </div>
    </div>
    <div class="svg">
   <Footer/>
   </div>
</Layout>

<style>
 .background-video {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    object-fit: cover; 
    z-index: 1; 
    filter: brightness(30%); 
  }
.face {
    display: grid;
    place-items: center;
    color: #FFFFFF;
    text-align: center;
    height: 33%;
    margin: 0;
    z-index: 30;

}

h1 {
    margin: 10px 0;
    font-size: 120px;
    font-family: "Metal Mania", sans-serif; 
    padding-top: 90px;
    padding-bottom: 5px;
    text-shadow: 0 2px 4px rgb(0 0 0 / 60%);
     z-index: 30;
}
 .h2-container {
        display: flex; 
        align-items: center;
        text-align: center;
        gap: 40px; 
         z-index: 30;
    }
h2 {
    margin: 10px 0;
    padding-top: 80px;
    font-size: 70px;
    font-family: "Imbue", serif;
    font-weight: lighter;
     z-index: 30;
    
}
  a.under1, a.under2 {
    text-decoration: none;
     text-shadow: 0 2px 4px rgb(0 0 0 / 100%);
    color: #FFFFFF;
     z-index: 30;
  }
  a.under1:hover, a.under2:hover{
    transform: scale(1.02);
    color: #C22554;
    z-index: 30;
}

.svg{
    padding-top: 17%;
}

@media (max-width: 768px) {
    .face {
    display: grid;
    place-items: center;
    color: #FFFFFF;
    text-align: center;
    height: 40%;
    margin: 0;
    padding-top: 50px;
    z-index: 30;
}
h1 {
    font-size: 60px;
    font-family: "Metal Mania", sans-serif; 
    z-index: 30;
}
h2 {
    font-size: 40px;
    z-index: 30;
}
  .section2 {
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .svg{
    padding-top: 25%;
}
}
</style>
