---
import Gallery from '../components/Gallery.astro';
import Footer from '../components/Footer.astro';
import Menu from '../components/Menu.astro';
import Layout from '../layouts/Layout.astro';
---

<Layout title="About Us">
    <Menu/>
    <Gallery/>
<div class="kontakt">
    <h3>Kontakt os her</h3>
    <h3>lovehitshard@gmail.com</h3>
</div>

<section class="section1">
     <img src="https://gpibpwcilnnywtjvpwql.supabase.co/storage/v1/object/public/lovehitshardcovers/markonyou.webp" class="markonyou" alt="markonyou">
     <div class="tekst_ny_sang">
     <p>The project of Simi Dyrn, lovehitshard, combines ethereal synthscapes, fragile vocals and grimy
industrial beats into expansive songs filled with longing, beauty and despair. The music reflects on
topics such as loneliness, iden@ty and belonging. When playing live, Simi is joined by 3 bandmates
on the stage.</p>
    
<iframe style="border-radius:12px" src="https://open.spotify.com/embed/track/6xT5lQBnnnwf3ur1YUGbHR?utm_source=generator" width="100%" height="152" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
 </div>
</section>

<section class="section2">
    <iframe width="560" height="450" src="https://www.youtube.com/embed/s6JbQ_Y55Y8?si=ZDi5DH1YEZSjfshS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen class="interview-video"></iframe>
     <div class="tekst_ny_sang">
     <p>Simi Dyrn’s soloprojekt, lovehitshard, kombinerer overjordiske synthflader, sårbare vokaler og
hårdtslående, industrielle trommer. Musikken reflekterer over emner såsom ensomhed, identitet
og længslen efter at være en del af noget større. Simi har 3 bandmedlemmer med sig på scenen
når der spilles live.
     </p>
    
     </div>
</section>
<Footer/>
</Layout>


<style>
/* Base Styles */
body {
    background-color: #1B1B1B;
    margin: 0;
    overflow-x: hidden;
}

img {
    width: 100%;
    height: auto;
}

.section1 {
    display: grid;
    grid-template-columns: 1fr 1fr;
    max-width: 100%;
    padding-left: 10rem;
    padding-right: 10rem;
    align-items: center;
    gap: 2rem; /* Adds spacing between grid items */
}

.kontakt {
    font-family: "Imbue", serif; /* Matches the font style in the image */
    color: #fff;
    font-size: 55px;
    text-align: center;
    font-weight: lighter;
}

.tekst_ny_sang {
    color: #fff;
    font-size: 22.5px;
    margin-left: 3rem;
    padding-top: 60px;
    padding-bottom: 100px;
}
p{
      font-family: "Asap", sans-serif;
}

/* Section 2 */
.section2 {
    margin-left: 20rem;
    margin-right: 20rem;
    padding-top: 3rem;
}

iframe {
    width: 100%; /* Ensures iframe adjusts to screen width */
    padding-top: 1rem;
}

/* Responsive Design */

/* Tablets (max-width: 1024px) */
@media screen and (max-width: 1024px) {
    .section1 {
        padding-left: 5rem;
        padding-right: 5rem;
        grid-template-columns: 1fr;
    }

    .kontakt {
        font-size: 40px; 
    }

    .tekst_ny_sang {
        font-size: 18px;
        margin-left: 1rem;
        padding-top: 40px;
        padding-bottom: 60px;
    }

    .section2 {
        margin-left: 10rem;
        margin-right: 10rem;
    }
    
}

/* Mobile Devices (max-width: 768px) */
@media screen and (max-width: 768px) {
    .section1 {
        padding-left: 2rem;
        padding-right: 2rem;
        grid-template-columns: 1fr; 
    }

    .kontakt {
        font-size: 30px; 
    }

    .tekst_ny_sang {
        font-size: 16px;
        margin-left: 5px;
        padding-top: 20px;
        padding-bottom: 40px;
    }

    .section2 {
        margin-left: 1rem;
        margin-right: 1rem;
    }

}

/* Small Mobile Devices (max-width: 480px) */
@media screen and (max-width: 480px) {
    .kontakt {
        font-size: 24px;
    }

    .tekst_ny_sang {
        font-size: 14px;
        padding-top: 10px;
        padding-bottom: 20px;
    }

    iframe {
        height: 200px; 
    }
}
</style>