---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <div class="top-space">
    </div>
    <div class="concert-list">
        <div class="concert-item">
            <div class="concert-info">
                <h2 class="concert-name">17. Dec</h2>
                <div class="concert-meta">
                     <span class="concert-year">Drejecocktail</span>
                    <span class="concert-year">Copenhagen</span>
                    <a href="https://www.ticketmaster.dk/musik/alle-musik/10001/events" target="_blank" class="concert-time">BUY TICKETS</a>
                </div>
            </div>
        </div>
    </div>
     <div class="concert-list">
        <div class="concert-item">
            <div class="concert-info">
                <h2 class="concert-name">09. Jan</h2>
                <div class="concert-meta">
                     <span class="concert-year">Boxen</span>
                    <span class="concert-year">Herning</span>
                    <a href="https://www.ticketmaster.dk/musik/alle-musik/10001/events" target="_blank" class="concert-time">BUY TICKETS</a>
                </div>
            </div>
        </div>
    </div>
    <div class="concert-list">
        <div class="concert-item">
            <div class="concert-info">
                <h2 class="concert-name">23. Jan</h2>
                <div class="concert-meta">
                     <span class="concert-year">H15-Halmtorvet</span>
                    <span class="concert-year">Copenhagen</span>
                    <a href="https://www.ticketmaster.dk/musik/alle-musik/10001/events" target="_blank" class="concert-time">BUY TICKETS</a>
                </div>
            </div>
        </div>
    </div>
        <div class="concert-list">
        <div class="concert-item">
            <div class="concert-info">
                <h2 class="concert-name">05. Feb</h2>
                <div class="concert-meta">
                     <span class="concert-year">Train</span>
                    <span class="concert-year">Aarhus C</span>
                    <a href="https://www.ticketmaster.dk/musik/alle-musik/10001/events" target="_blank" class="concert-time">BUY TICKETS</a>
                </div>
            </div>
        </div>
    </div>
</Layout>

<style>

.top-space{
padding-top: 35px;
z-index: 30;
}
/* Container for the entire list */
.concert-list {
    display: flex;
    flex-direction: column;
    gap: 0px;
    padding-right: 30px;
    padding-left: 30px;
    max-width: 80%;
    margin: 0 auto;
    z-index: 30;
}

/* Individual song item */
.concert-item {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #fff;
    border-bottom: 1px solid #fff; 
    padding: 13px 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background-color 0.3s ease;
    z-index: 30;
}

/* Song information container */
.concert-info {
    display: flex;
    align-items: center;
    flex: 1; 
    justify-content: space-between;
    font-family: "Imbue", serif;; 
    z-index: 30;
}

/* Song name */
.concert-name {
    font-size: 2rem;
    font-weight: bold;
    padding-bottom: 20px;
    z-index: 30;
}


/* Song metadata container */
.concert-meta {
    display: flex;
    gap: 150px;
    flex: 1; 
    justify-content: flex-end;
    font-size: 2rem;
    font-weight: bold;
    color: #fff; 
    z-index: 30;
}
 .concert-year {
        margin-left: auto; 
        margin-bottom: 0; 
        align-items: start;
        text-align: left;
 }

.concert-time{
    border: 5px solid #C22554;
    color: #C22554;
    font-size: 2rem;
    padding: 5px;
   padding-right: 40px;
   padding-left: 40px;
    text-decoration: none;
     z-index: 20;
}
.concert-time:hover{
    transform: scale(1.02);
    color: #fff;
    z-index: 20;
}


@media screen and (max-width: 768px) {
    .concert-list{
        max-width: 100%;
    }    
    .concert-item {
        padding: 1px 20px;
        padding-bottom: 30px;
    }
    .concert-info {
        flex-direction: column; 
        align-items: flex-start;
        width: 100%; 
    }

   .concert-meta {
        display: flex;
        align-items: center; 
        justify-content: space-between; 
        width: 100%; 
        gap: 15px; 
    }

    .concert-time {
        margin-left: auto; 
        margin-bottom: 0; 
        font-size: 0.7rem; 
    }

    .concert-name {
        font-size: 0.7rem; 
    }

    .concert-year {
        margin-left: auto; 
        margin-bottom: 0; 
        align-items: start;
        font-size: 0.7rem;
        color: #ddd;
    }
}


</style>
